@-webkit-keyframes timeline_flow {
  to {
    background-position: -200% 0;
  }
}
@keyframes timeline_flow {
  to {
    background-position: -200% 0;
  }
}
.su-title {
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.su-title .su-title-text {
  color: transparent;
  background: linear-gradient(90deg, var(--titleColor)) 0 0 / 200%;
  background-clip: text;
  -webkit-animation: timeline_flow 3s ease-in-out 0s infinite normal none running;
  animation: timeline_flow 3s ease-in-out 0s infinite normal none running;
  font-size: 1.5rem;
  -webkit-font-smoothing: none;
  font-weight: 600;
}
.su-title #clock {
  color: var(--fg);
}
.su-title .su-input-container {
  position: relative;
  width: 200px;
  margin-right: 20px;
}
.su-title .su-input-container input.su-input-search {
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--fg);
}
