@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW9.ttf) format('truetype');
}
@font-face {
  font-family: ZpixReviewOnline;
  src: url(https://zpix.now.sh/zpix.woff2?v2021-03-21);
}
:root {
  --bg: rgba(30, 41, 59, 0.6);
  --loadingBg: #1e293b;
  --fg: #ffffff;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727;
  --searchBg: var(--containerBg);
  --scrollbarColor: #3f3f3f;
  --fontFamily: "Roboto Mono", monospace;
  --zpixFontFamily: ZpixReviewLocal, ZpixReviewOnline, sans-serif;
  --margin: 8px;
  --titleColor: #ffcbf2, #e9d2f4, #d3d3d3, #ffffff;
}
body {
  margin: 0px;
  font-feature-settings: "tnum";
  font-family: var(--zpixFontFamily);
  background: transparent;
}
body .su-wrapper {
  background-image: linear-gradient(var(--bg), var(--bg));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 6px;
  position: fixed;
  top: var(--margin);
  right: var(--margin);
  bottom: var(--margin);
  left: var(--margin);
}
body .su-shade {
  position: fixed;
  top: var(--margin);
  right: var(--margin);
  bottom: var(--margin);
  left: var(--margin);
  z-index: 99;
  background-image: linear-gradient(var(--loadingBg), var(--loadingBg));
  transition: opacity 0.3s;
}
body .su-shade .su-loading {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  letter-spacing: 0.2em;
}
body .su-shade .su-loading::before,
body .su-shade .su-loading::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ce4233;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}
body .su-shade .su-loading::before {
  top: 0;
}
body .su-shade .su-loading::after {
  bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  font-family: var(--zpixFontFamily);
  outline: none;
  border: none;
}
input:focus {
  outline: none;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#search {
  width: 100%;
  height: 100vh;
  background-color: var(--searchBg);
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#search .search-field {
  width: 90%;
  padding: 0.75em 1em;
  box-sizing: border-box;
  background-color: var(--searchBg);
  border: solid 0px var(--searchBg);
  font-family: var(--zpixFontFamily);
  font-size: 4rem;
  color: var(--fg);
  outline: none;
  border-radius: 3px;
  margin-bottom: 1em;
  text-align: center;
}
.weather-container {
  width: 30%;
  background-color: var(--containerBg);
  padding: 1em;
  border-radius: 3px;
  font-family: var(--fontFamily);
  color: var(--fg);
  text-align: center;
}
.inline {
  display: inline-block;
}
#bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 1em 0em;
}
@media only screen and (max-width: 960px) {
  .container {
    height: auto;
  }
  .container > #bookmark-container {
    flex-direction: column;
    width: 60%;
  }
  #bookmark-container > .bookmark-set {
    width: auto;
    margin: 1em 0em;
  }
}
.bookmark-set {
  padding: 1em;
  background-color: var(--containerBg);
  border-radius: 3px;
  font-family: var(--fontFamily);
  font-size: 0.85rem;
  width: 25%;
  height: 12em;
  margin: 0em 0.5em;
  box-sizing: border-box;
}
.bookmark-inner-container {
  overflow-y: scroll;
  height: 80%;
  vertical-align: top;
  padding-right: 6px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) #ffffff00;
}
.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}
.bookmark-inner-container::-webkit-scrollbar-track {
  background: #ffffff00;
}
.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
  border: 3px solid #ffffff00;
}
.bookmark-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--fg);
  margin: 0em 0em 0.35em 0em;
}
.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  margin: 0.5em 0em;
}
.bookmark:hover {
  color: var(--fg);
}
.flex {
  display: flex;
}
.f-10 {
  flex: 10;
}
.f-9 {
  flex: 9;
}
.f-8 {
  flex: 8;
}
.f-7 {
  flex: 7;
}
.f-6 {
  flex: 6;
}
.f-5 {
  flex: 5;
}
.f-4 {
  flex: 4;
}
.f-3 {
  flex: 3;
}
.f-2 {
  flex: 2;
}
.f-1 {
  flex: 1;
}
.f-0 {
  flex: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
